<div class="col-md-3 list-group myList" role="tablist">
  <a href="#" class="list-group-item disabled topic">Topic</a>
  <a
    class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center active"
    href="/all"
    id="all"
    >All
    <span class="badge badge-primary badge-pill">{{nav.all.length}}</span>
  </a>
  <a
    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
    href="/sports"
    id="sports"
    >Sports
    <span class="badge badge-primary badge-pill">{{nav.sports.length}}</span>
  </a>

  <a
    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
    href="/diet"
    id="diet"
    >Diet
    <span class="badge badge-primary badge-pill">{{nav.diet.length}}</span>
  </a>

  <a
    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
    href="/movie"
    id="movie"
    >Movie
    <span class="badge badge-primary badge-pill">{{nav.movie.length}}</span>
  </a>
  <a
    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
    href="/tourism"
    id="tourism"
    >Tourism
    <span class="badge badge-primary badge-pill">{{nav.tourism.length}}</span>
  </a>

  <a
    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
    href="/others"
    id="others"
    >Others
    <span class="badge badge-primary badge-pill">{{nav.others.length}}</span>
  </a>
</div>
